body.portal {
	// @include imagemfull(cover,center,center);
	background-size: contain;
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
	background-image: url('../img/textura3.jpg');

	// fundo
	// &:before, &:after {
	// 	content: ""; position: fixed; display: block;
	// 	width: 8%; height: 100vh; top: 0;
	// 	background-image: url('../img/bg.svg');
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// }

	&:before { left: 0; background-position: right top;}
	&:after { right: 0; background-position: left top;}
}

#portal {
	position: relative; z-index: 1;
	@include justify-content(flex-start);

	header {
		padding-top: 0;
		width: 100%;
		margin-bottom: 70px;
	    @include display(flex);
	    @include flex-wrap(nowrap);
	    @include flex-direction(row);
	    @include justify-content(flex-start);
	    
	    .ufggrande {
	    	width: 100%;
	    	background-color: $preto;
	    	color: $cinza;
	    	font-size: 0.8em;
	    	font-family: $fonte-titulos;
	    	display: none;
	    	padding: 8px;
			letter-spacing: 0.09em;
	    	@media (max-width: $smart-menor) {
	    		display: block;
	    		text-align: center;
	    	}

	    }

		h1 {
			@include flex-grow(1);
			background: $azul;
			margin-right: 15px;
			padding: 80px 20px 20px 20px;
			font-size: 1.8em;
			@media (max-width: $smart-maior) {
				margin-right: 0;
			}
			// span {display: inline-block; @include transform(translateY(-30px));}
		}

		@media (max-width: $smart-maior) {
			h1 {
			font-size: 1.4em;
			text-align: center;
			padding: 20px;
			}
			margin-bottom: 20px;
		}

		.ufg {
			@include align-self(flex-start);
			background-color: $preto;
			@include flex-shrink(0); 
			padding-bottom: 20px;
		
			img { width: 110px; display: block; margin-top: 1.4em; margin-left: 5em;margin-bottom: 0; padding-right: 20px; padding-top: 30px;
			}
		}

		@media (max-width: $smart-maior) {
			.ufg {
				height: 29px; overflow: hidden;
				// img { margin-left: 1em; }
				img {
					display: none;
					margin: 0;
				}
			}
		}

		@media (max-width: $smart-menor) {
			@include flex-wrap(wrap);

			.ufg {
				display: none;
				// border: 0; @include transform(translateY(-50%));
				// position: relative; text-align: right;
				// @include display(flex); width: 100%;
			 //    @include flex-wrap(nowrap);

				// img { margin: 0 20px; }

				// &:before {
				// 	content: ""; width: calc(100% - 120px);
				// 	background: $preto;
				// }
			}
		}
	}
	
	// MENU PORTAL

	.menu {
		width: 100%;
		margin-bottom: 25px;
		// margin-left: 10px;
		// margin-right: 10px;
		// padding: 40px 0 80px 0;
		display: block;
		background-color: #ededed;

		.tarja {
			display: block;

			.ilustra {
				float: left;
				margin-top: 26px;
				margin: 30px 0 0 65px;
				@media (max-width: $smart-maior) {
					width: 60%;
					float: none;
					display: block;
					margin: 0 auto;
				}
			}
			.diretrizes { 
				width: 60%;
				background-color: $azul;
				border-bottom: 8px solid #2fc4de;
				padding: 170px 20px 5px 20px;
				float: right;
				&:hover { text-decoration: none; }

				h3{
				font-size: 1.5em;
				font-weight: normal;
				font-family: $fonte-titulos;
				}
				@media (max-width: $smart-maior) {
					width: 100%;
					float: none;
					display: block;
					padding: 15px 0;
					text-align: center;
				}
				@media (max-width: $smart-menor) {
					width: 100%;
					float: none;
					display: block;
					padding: 15px 0;
					text-align: center;
					font-size: 0.8em;
				}
			}
			&:hover .diretrizes.vol1 { background: nth($cores-livros, 1);border-bottom: 8px solid #171717; }
			&:hover .diretrizes.vol2 { background: nth($cores-livros, 2);border-bottom: 8px solid #171717; }
			&:hover .diretrizes.vol3 { background: nth($cores-livros, 3);border-bottom: 8px solid #171717; }
			&:hover .diretrizes.vol4 { background: nth($cores-livros, 4);border-bottom: 8px solid #171717; }
			&:hover .diretrizes.vol5 { background: nth($cores-livros, 5);border-bottom: 8px solid #171717; }
			&:hover .diretrizes.vol6 { background: nth($cores-livros, 6);border-bottom: 8px solid #171717; }
	
		}
		
	}

	article {
		width: 100%;
		margin-bottom: 0;
		padding: 0 !important;
		p {
			font-family: $fonte-padrao;
			color: $preto;
			font-size: 0.8em;
			margin-bottom: 1.4em;
		}
	}

	footer {
		background-color: $preto;
		padding-bottom: 70px;
		
	}
}



// ****FICHA TÉCNICA**** //

.quadroazul {
	background-color: $azul;
	padding: 50px 50px 30px 50px;
	@media (max-width: $smart-maior) {
		padding: 30px;
	}
	dt {
		font-size: 0.9em;
		font-weight: bold;
		color: $preto;
		padding: 20px 0 4px 0;
		text-transform: uppercase;
		font-family: $fonte-titulos;
		&:first-child {
			padding-top: 0;
		}
	}
	dd {
		font-family: $fonte-padrao;
		font-variant: normal;
		font-size: 0.9em;
		color: $preto;
		a:hover {
			font-weight: bold;
			color: $preto;
		}
	}
}

.colunas {
	display: grid;
	grid-template-columns: 48% 48%;
	@media (max-width: $smart-maior) {
		display: block;
	}

}

.grafismocontato {
	width: 40px;
	padding: 18px 0;
}

.marcasgerais {

	width: 50%;
	padding: 60px 0 15px 0;

	@media (max-width: $smart-maior) {
		width: 100%;
	}
}

//**** FICHA_CATALOGRAFICA **** ISBN **** //

.catalogacao {
	width: 100%;
	max-width: 670px;
	border-bottom: 3px solid $preto;
	margin-bottom: 20px;
	@media (max-width: $smart-maior) {
		width: 100%;
	}
	.dados {
		float: left;
		width: 50px;
		padding-right: 60px;
	}
	.info {
		float: right;
		width: calc(100% - 60px);
	}
}

.clearfix::after {
		  	content: "";
		  	clear: both;
		  	display: table;
}
		

// **** CONTATO **** RODAPÉ ****//

.rodape {
	width: 100%;
	position: relative;
	margin-top: -36px;
	margin-bottom: 140px;
	font-family: $fonte-padrao;
	text-transform: none;
	font-weight: normal;
	letter-spacing: normal;
	@include flex(space-between);

	@media (max-width: $smart-maior) {
		margin: 0;
	}

	@media (max-width: $celular) {
		dt, dd {
			font-size: 1.1em !important;
		}
	}

	dd {
		padding-top: 10px;
	}
	p {

		color: $preto;
		font-size: 0.8em;
		margin-bottom: 1.4em;
	}
	h2 {
		color: $preto;
	}

	a:hover {
		color: $preto;
		text-decoration: underline;
	}


	.quadroazul {
		width: 100%;
	}


	#quadros {
		color: $preto;
		font-weight: bold;
		font-size: 1.4em;

		a { 
			color: $preto; display: inline-block;
			padding: 12px 17px; margin-left: 10px;
			font-family: $fonte-titulos;

			&:hover {
				background-color: $azul;
				text-decoration: underline;
			}

			&.quadro1 { background-color: #546e7a; }
			&.quadro2 { background-color: #936FFF; }
			&.quadro3 { background-color: #43E0A2; }
			&.quadro4 { background-color: #e91e63; }

		}
		@media (max-width: $smart-maior) {
			display: none;
		}
	}

	.desenvol {
		background-color: $azul;
		@include flex-grow(1);
		color: $preto;
		font-size: 0.7em;
		font-family: $fonte-padrao;
		padding: 24px 20px 20px 50px;
		a:hover {
			color: $preto;
			text-decoration: underline;
		}
		@media (max-width: $smart-maior) {
			width: 100%;
			bottom: 32px;
			background-color: $preto;
			color: $azul;
			font-size: 0.7em;
			padding: 20px 20px;
			a:hover {
				color: $cinza;
			}
		}
	}
}



